._1g5o{min-width:120px}
._4xqv{background-color:#ebedf0}._64pf{background-color:#fff;border-radius:4px;height:340px;overflow:hidden}._4xqu{background-color:#fff;border-color:#dadde1}

#bootloader_IhcMl{height:42px;}.bootloader_IhcMl{display:block!important;}